#!/bin/bash

test=`route -n | grep 10.10.10.`
while [ -z "$test" ] ; do 
        sleep 1
        test=`route -n | grep 10.10.10.`
done


#Configure tof IP
sed -i 's/TOF_IP =.*/TOF_IP = "10.0.0.10"/' /home/ubuntu/tof-agent/tof-core/Configurations.py 

#Configure tof SGW MAC
sed -i 's/SGW_IF_MAC =.*/SGW_IF_MAC = "aa:aa:aa:aa:aa:cc"/' /home/ubuntu/tof-agent/tof-core/Configurations.py 

#Configure pinger IP
sed -i 's/PING_IP=.*/PING_IP= "8.8.8.8"/' /home/ubuntu/tof-agent/tof-core/Configurations.py 

#Configure enodeb network
#sed -i 's/ENODEB_NET=.*/ENODEB_NET= "10.0.0.0\/24"/' /home/ubuntu/tof-agent/tof-core/Configurations.py 

#Configure enodeb gw
#sed -i 's/ENODEB_GW=.*/ENODEB_GW= "192.168.50.99"/' /home/ubuntu/tof-agent/tof-core/Configurations.py 

#Configure sgw network
#sed -i 's/SGW_NET=.*/SGW_NET= "172.17.0.0\/24"/' /home/ubuntu/tof-agent/tof-core/Configurations.py 

#Configure sgw gw
#sed -i 's/SGW_GW=.*/SGW_GW= "192.168.50.129"/' /home/ubuntu/tof-agent/tof-core/Configurations.py 

#Configure tof gw for app
sed -i 's/app_router_ip =.*/app_router_ip = 20.20.20.1/' /home/ubuntu/tof-agent/run_agg/core.config 

#Configure tof app network
sed -i 's/app_network = .*/app_network = 172.24.4.0\/24/' /home/ubuntu/tof-agent/run_agg/core.config 

#Configure tof app IP
sed -i 's/app_interface_ip = .*/app_interface_ip = 20.20.20.3/' /home/ubuntu/tof-agent/run_agg/core.config 


#Start tof
bash /home/ubuntu/tof-agent/run_agg/run_agg.sh

exit 0